[submodule "external/minhook"]
	path = external/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "external/libav"]
	path = external/libav
	url = https://github.com/libav/libav.git
